# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTorch model files
*.pth


# VS Code settings
.vscode/

# Streamlit
.streamlit/

# Dataset folders (large files)
Chess/
Chessman-image-dataset/

# Images
*.jpg
*.jpeg
*.png


# Exceptions
!UsageExample.png
